service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{profileId} {
          allow read, update, delete: if request.auth.uid == profileId;
          allow create: if false;
    }



  }
}