* {
  box-sizing: border-box;
}

html, body {
  font: 16px Roboto,arial,sans-serif;
  background: white;
  color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 360px;
}

.firebaseui-idp-button {
  max-width: 280px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#logoutBtn {
  z-index: 10;
  position: absolute;
  top: 16px;
  left: 16px;
}

#loginBtn {
  z-index: 10;
  position: absolute;
  top: 16px;
  left: 16px;
}

button {
  margin: 8px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

button:focus {
  border: none;
}

.buttonIcon {
  width: 48px;
  height: 48px;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #242F3E;
    color: white;
  }
  .firebaseui-tos {
    color : white;
  }
  .firebaseui-link {
    color : #42f4ad;
  }
  .popup-content {
    background-color: #242F3E;
  }
}
