<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="live.noxbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/noxbox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity
            android:name=".pages.AuthActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".filters.MapFiltersActivity"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".MapActivity"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".profile.ProfilePerformerActivity"
            android:parentActivityName=".profile.ProfileActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".constructor.ConstructorActivity"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".constructor.NoxboxTypeListActivity"
            android:label="@string/selectService"
            android:noHistory="true"
            android:theme="@style/DialogListActivity" />
        <activity
            android:name=".profile.TravelModeListActivity"
            android:label="@string/travelMode"
            android:noHistory="true"
            android:theme="@style/DialogListActivity" />
        <activity
            android:name=".detailed.DetailedActivity"
            android:parentActivityName=".MapActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".detailed.CoordinateActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".menu.HistoryActivity" />
        <activity
            android:name=".pages.ChatActivity"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".menu.WalletActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4280356528ee3adc2317d482e6f6864f345f98d9" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".tools.MessagingService"
            android:isolatedProcess="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".tools.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="true"/>
        <service
            android:name=".pages.AvailableServices$AvailableNoxboxesService"/>

        <receiver android:name=".model.NotificationType$CancelRequestListener">
            <intent-filter>
                <action android:name="live.noxbox.cancelRequestByClickedButton" />
            </intent-filter>
        </receiver>

        <receiver android:name=".model.NotificationType$AcceptRequestListener">
            <intent-filter>
                <action android:name="live.noxbox.acceptRequestByClickedButton" />
            </intent-filter>
        </receiver>

        <receiver android:name=".model.NotificationType$ConfirmPhotoListener">
            <intent-filter>
                <action android:name="live.noxbox.confirmPhotoByClickedButton" />
            </intent-filter>
        </receiver>

        <receiver android:name=".model.NotificationType$NavigationButtonListener">
            <intent-filter>
                <action android:name="live.noxbox.openNavigatorByClickedButton" />
            </intent-filter>
        </receiver>

        <receiver android:name=".model.NotificationType$UserInputListener">
            <intent-filter>
                <action android:name="live.noxbox.UserInputListener" />
            </intent-filter>
        </receiver>

    </application>

</manifest>