<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="live.noxbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/NoxBox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="label">

        <activity
            android:name=".MapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AuthActivity"
            android:theme="@style/MapTheme" />
        <activity
            android:name=".activities.ConfirmationActivity"
            android:parentActivityName=".MapActivity">

        </activity>
        <activity
            android:name=".menu.settings.MapSettingsActivity"
            android:parentActivityName=".MapActivity"/>
        <activity
            android:name=".menu.profile.ProfileActivity"
            android:parentActivityName=".MapActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cluster.ClusterItemsActivity"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".menu.profile.ProfilePerformerActivity"
            android:parentActivityName=".menu.profile.ProfileActivity" />
        <activity
            android:name=".activities.contract.ContractActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".menu.profile.TravelModeListActivity"
            android:label="@string/travelMode"
            android:noHistory="true"
            android:theme="@style/DialogListActivity" />
        <activity
            android:name=".activities.detailed.DetailedActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MapActivity"/>
        <activity
            android:name=".activities.detailed.CoordinateActivity" />
        <activity
            android:name=".menu.history.HistoryActivity"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".activities.ChatActivity"
            android:parentActivityName=".MapActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".menu.wallet.WalletActivity"
            android:parentActivityName=".MapActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".menu.about.AboutApplicationActivity"
            android:parentActivityName=".MapActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".menu.about.tutorial.TutorialActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".menu.about.RulesActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4280356528ee3adc2317d482e6f6864f345f98d9" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.AvailableNoxboxesService" />
        <service
            android:name=".states.Moving$LocationListenerService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".notifications.Notification$CancelRequestListener">
            <intent-filter>
                <action android:name="live.noxbox.cancelRequestByClickedButton" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notifications.Notification$DeleteActionIntent">
            <intent-filter>
                <action android:name="live.noxbox.DeleteActionIntent" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notifications.Notification$SupportNotificationListener">
            <intent-filter>
                <action android:name="live.noxbox.SupportActionIntent" />
            </intent-filter>
        </receiver>
    </application>

</manifest>